.challenge-container {
  padding: 38px;
  background-color: white;

  .challenge-wrapper {
    padding: 42px;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  }

  .intro-header {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0078d4;
  }

  .row-wrapper {
    display: flex;
    justify-content: center;
  }

  .btn {
    background: linear-gradient(315.63deg, #02A5F4 3.96%, #04B2EE 42.99%, #06C1E6 71.92%, #08CBE1 90.32%);
    filter: drop-shadow(0px 0px 12px rgba(1, 86, 96, 0.169));
    padding: 10px 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 20px;
    width: 280px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid darkgray;
  }

  .btn-website {
    background: #266593;
    filter: drop-shadow(0px 0px 12px rgba(1, 86, 96, 0.169));
    padding: 10px 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 20px;
    width: 380px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid darkgray;
  }

  .info {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    color: rgb(87, 87, 87);
    margin-top: -58px;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}