.landing-container {

  background: url("../assets/Background.png") no-repeat center;
  background-size: cover;

  .landing-header {
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  .landing-footer {
    height: 200px;
    background-color: black;
    left: 0px;
    top: 0px;
    width: 100%;
  }

  .landing-header-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .landing-footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .landing-header-container ul {
    display: flex;
    margin-top: 15px;
  }

  .landing-footer-container ul {
    display: flex;
  }

  .landing-nav li {
    list-style: none;
    margin-right: 30px;
  }

  .landing-nav-item {
    position: relative;
    height: 24px;
    top: 10px;
  }

  .landing-nav-item a{
    font-weight: bolder;
    font-size: 10px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .home-hero {
    display: flex;
    flex-wrap: nowrap;
  }

  .img-right {
    width: 780px;
    height: 600px;
    margin-top: -100px;
    margin-right: 60px;
  }

  .bg {
    height: 700px;
  }

  .bg-title-info {
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 27px;
    font-weight: 400;
    color: white;
    z-index: 100;
  }

  .bg-title {
    width: 400px;
    margin-left: 100px;
    margin-top: -30px;
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    z-index: 100;
  }

  .bg-description {
    font-weight: 350;
    font-size: 14px;
    margin-left: 100px;
    color: #ffffff;
    z-index: 100;
  }

  .login {
    margin-top: 50px;
    //float: right;
    margin-left: -15px;
    width: 200px;
    //height: 103px;
    z-index: 100;
    cursor: pointer;
  }

  .challenge {
    margin-top: -200px;
  }

  .challenge-container {
    display: flex;
  }

  .challenge-text {
    margin-left: 100px;
  }

  .challenge-pics {
    margin-right: 100px;
  }

  .news-container {
    display: flex;
  }

  .news-pic {
    margin-left: 100px;
  }

  .news-text {
    margin-left: 100px;
    margin-right: 100px;
  }

  .contact {
    padding: 20px;
    text-aligh: center;

    a {
      color: #6a6a6a;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .description {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .photo {
    width: 500px;
  }

  .margin-right {
    margin-right: 132px;
  }

  .margin-top {
    margin-top: 30px;
  }

  .padding-top {
    padding-top: 10px;
  }

  .padding-left {
    padding-left: 140px;
  }

  .padding-right {
    padding-right: 30px;
  }

  .contactUs {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: -200px;
  }

  .email {
    color: white;
    font-size: 10px;
    font-weight: 100;
    margin-left: -200px;
  }

  .line {
    margin: 150px 100px 80px 100px;
    display: flex;

    p {
      color: #02A5F4;
      font-size: 30px;
      font-weight: 600;
    }

    img {
      margin-top: 24px;
      margin-left: 30px;
      width: 95%;
    }
  }

  .linksInRect {
    position: absolute;
    color: #02A5F4;
    font-size: 20px;
    font-weight: 630;
    margin-left: 120px;
    margin-top: -81px;
  }

  .links {
    color: #02A5F4;
    font-size: 20px;
    font-weight: 630;
    margin-left: 10px;
    display: inline-block;
  }

  .rectangle {
    width: 188px;
    margin-left: 110px;
    margin-top: -60px;
    margin-bottom: 40px;
  }

  .rectangle-container {
    width: 520px;
  }

  .background {
    background: url("../assets/Rectangle-23.png") no-repeat center;
    background-size: cover;
    height: 140px;
    width: 480px;
    margin-left: 110px;
    border-radius: 5px;
    margin-bottom: 20px;

    .description {
      margin-top: -20px;
    }

    .vector {
      position: absolute;
      height: 90px;
      margin-top: 15px;
      margin-left: 20px;
    }
  }

  .features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .background-features {
    width: 270px;
    height: 420px;
    background: url("../assets/Rectangle-24.png") no-repeat center;
    background-size: cover;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 20px;

    .title {
      margin: 20px;
      text-align: center;
    }

    .description {
      position: absolute;
      margin: 0px 40px;
      text-align: center;
      width: 190px;
    }
  }

  .arrow {
    display: inline-block;
    height: 15px;
    margin-left: 8px;
    margin-top: -7px;
  }

  .ellipse {
    display: inline-block;
    height: 10px;
    margin-left: 12px;
    margin-top: 30px;
  }

  .icon {
    height: 120px;
    margin-left: 76px;
    margin-top: 30px;
  }

  .background-join {
    background: url("../assets/Rectangle-25.png") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 260px;
    margin: 180px 140px 280px 140px;
    display: flex;
    justify-content: center;

    .bg-title-bottom {
      font-size: 45px;
      font-weight: 700;
      color: #ffffff;
      z-index: 100;
      padding-top: 86px;
      padding-left: 100px;
      padding-right: 200px;
    }

    .description {
      padding-left: 100px;
      margin-top: -50px;
    }

    .join {
      height: 60px;
      margin-top: 100px;
    }
  }

  @media screen and (max-width: 750px) {
    .landing-footer-logo {
      display: none;
    }

    .landing-logo {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    .footer-contact {
      display: none;
    }

    .bg-title-bottom {
      display: none;
    }

    .description-bottom {
      display: none;
    }

    .background-join {
      background: none;
    }

    .landing-profile {
      display: none;
    }

    .img-right {
      display: none;
    }

    .bg-description {
      margin-right: 100px;
    }

    .challenge-pics {
      display: none;
    }

    .challenge-text {
      margin-right: 100px;
    }

    .news-pic {
      display: none;
    }
  }
}

