.self-container{
  .title {
    margin-top: 50px;
    height: 80px;
    max-height: 100px;
    font-size: 22px;
    line-height: 36px;
    color: #062A4E;
    font-weight: bold;
    white-space: nowrap;
  }

  .status-icon {
    padding-bottom: 3px;
  }

  .btn-download:hover {
    background-color: #D9D9D9;
    border-radius: 5px;
  }
}